*.egg-info
*.pyc
.Python
.cache
.coverage
.eggs
.installed.cfg
.pytest_cache
.tags
analyze.rb
bin
coverage-report
develop-eggs
dist
downloads
eggs
include
lib
lib64
local
my-buildout.cfg
parts
tags
venv
