[buildout]
develop = .
parts = scripts test
find-links = http://download.gocept.com/packages/
index = http://f.pypi.python.org
allow-hosts = *.python.org
              *.gocept.com

[test]
recipe = zc.recipe.testrunner
eggs = gocept.gtimelog
defaults = ['-c']

[scripts]
recipe = zc.recipe.egg:scripts
eggs = gocept.gtimelog
interpreter = py
