# Example configuration file for GTimeLog
# Place it in ~/.gtimelog/gtimelogrc

[gtimelog]

# Your name in activity reports
name = Anonymous

# Email to send activity reports to
list-email = activity@example.com

# Command to launch a mailer.  %s is replaced with a name of a temporary
# file containing the activity report as a RFC-2822 message.  If there is
# no '%s', the draft file name is appended to the command.
mailer = x-terminal-emulator -e mutt -H %s

# Command to launch an editor.  %s is replaced with the name of the time log
# file; if there is no '%s', the name of the log file is appended.
editor = gvim

# User interface: True enables drop-down history completion (if you have PyGtk
# 2.4), False disables and lets you access history by pressing Up/Down.
gtk-completion = False

# How many hours work in a day.
hours = 8

# How many hours work in a week.
hours = 40

# When does one work day end and another begin
virtual_midnight = 02:00

# only used if you're using an hourtracker system
#
# [hours]
# url = http://www.myhourtracker.com/
# username = foo
# password = bar
# tasks = http://www.myhourtracker.com/tasks
# projects = http://www.myhourtracker.com/projects

# # settings only for Mac OS X variant (gtimelog.app)
# [gtimelog.app]
# # path to python
# python = /opt/local/bin/python2.5

# only used for integration with the Redmine issue tracker
#
# [redmine]
# url=https://www.my-redmine.com/
# username=user
# password=secret
# projects = My_Project1
#            My_Project2
